<div id="<%= dom_id student %>">
  <p>
    <strong>Student:</strong>
    <%= student.student_id %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= student.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= student.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= student.email %>
  </p>

  <p>
    <strong>Enrollment date:</strong>
    <%= student.enrollment_date %>
  </p>

</div>
