<p style="color: green"><%= notice %></p>

<%= render @student %>

<div>
 <%= link_to 'Update Student Email', edit_student_path(@student) %> |
  <%= link_to "Back to students", get_all_students_path %>

  <%= button_to "Destroy this student", @student, method: :delete %>
</div>
